h1{
	font-family: Roboto;
	text-align: center;
}
.about-container p{
	font-family: Roboto;
	line-height: 1.7;
	margin-top: 10%;
}
.about-container h1{
	padding-top: 12%;
}
.about-container{
	padding: 12%;
	background-color: #ffffff;
	height: 40vh;
}
.experience-container{
	background-color: #5F5C5C;
	padding: 12%;
}
.experience-container h1{
	color: #D3F9B5;
}
.experience-container p{
	color: #FFFFFF;
	font-family: Roboto;
	line-height: 1.7;
	margin-top: 10%;
}
.mission-container{
	padding: 12%;
	background-color: white;
}
.mission-container p{
	font-family: Roboto;
	line-height: 1.7;
	margin-top: 10%;
}
