.form {
	background-color: #000000;
	height: 100px;
	width: 100px;
}

body {
	background-color: #D1E8E2
}

.nav {
	background-color: #D9B08C
}

.title {
	color: #2C3531;
}

.button {
	border: 2px solid black;
	background-color: #2C3531;
	color: #FFCB9A;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	border-color: #116466;
	border-radius: 5px;
	margin-top: 10%;
}

button:hover {
  background-color: #FFCB9A;
	color: #116466;
}

.input {
	border:2px solid #FFCB9A;
	font-size:1.75em;
	padding:.25em .5em .3125em;
	color:#116466;
	text-decoration-color: #116466;
	border-radius:.25em;
	background:transparent;
	transition:all .100s;
	margin-top: 5%;
}

.select {
	border:2px solid #FFCB9A;
	font-size:1.75em;
	padding:.25em .5em .3125em;
	color:#116466;
	border-radius:.25em;
	background:transparent;
	transition:all .100s;
	margin-top: 5%;
}
