body{
	background-color: #5F5C5C;
}
* {
    margin: 0;
    padding: 0;
}
.containerOne{
	height: 100vh;
}
.titleContainer{
	margin-top: 70%;
}
/* tablet */
@media only screen and (min-width: 768px) {
	.titleContainer{
		margin-top: 50%;
	}
	.form{
		width: 500px;
		margin-left: 20%;
	}
}
/* destkop */
@media only screen and (min-width: 1025px) {
	.titleContainer{
		margin-top: 20%;
	}
	.form{
		width: 500px;
		margin-left: 28%;
	}
}
.titleContainer a{
	text-decoration: none;
}

.title{
	font-family: 'Share Tech Mono', monospace;
	color: #D3F9B5
}
.button{
	height: 40px;
	width: 150px;
	position: relative;

	display: block;
	margin: 30px auto;
	padding: 0;

	overflow: hidden;

	border-width: 0;
	outline: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

	background-color: #CE7DA5;
	color: #ecf0f1;

	transition: background-color .3s;
}
.containerTwo{
	height: 150vh;
	margin: 0;
	background-color: #FFFFFF;
	position: relative;
	padding-top: 5%;
}
.containerTwoTitle{
	font-family: 'Pacifico', cursive;
	font-size: 50px;
	font-weight: 100;
	color: #5F5C5C;
}
.input{
	width: 250px;
}
.formContainer{
	display: grid;
	grid-template-columns: 10% 80% 10%;
}
.form{
	background-color: #E8E8E8;
	margin-top: 5%;
	padding-top: 10%;
	padding-bottom: 5%;
	border-radius: 6px;
}
