body{
	color:black;
	font-family: Roboto;
}
.resultsContainer{
	width: 60vw;
	background-color: #F7E1CC;
}
.resultsContainer i{
	font-size: 50px;
	margin-top: 10%;
}
.resultsContainer h2{
	color:black;
	font-family: Roboto;
	font-weight: normal;
	line-height: 2;
}
.resultsContainer b{
	color: darkgrey;
	font-size: 30px;
}
.resultsSecondContainer{
	height:1500px;
	background-color: white;
	padding-top: 5%;
	color: #212121;
	font-size: 30px;
	font-family: Roboto;
	padding-left: 10%;
	padding-right: 10%;
	line-height: 2;
}
.resultsSecondContainer p{

}
.resultsImages{
	height: 400px;
	transform: rotate(90deg);
	border-radius: 6px;
	margin: 5%;
}
