* {
    margin: 0;
    padding: 0;
}
.resultsContainer{
	display: grid;
	grid-template-columns: 10% 80% 10%;
	margin-top: 20%;
}
.calorieCount{
	padding: 10%;
	line-height: 2;
}
.calorieTitle{
	margin-top: 10%;
	font-family: 'Pacifico', cursive;
	font-weight: 100;
	color: #493657;
}
.calorieDescription{
	margin-top: 10%;
	font-family: 'Solway', serif;
	font-weight: light;
}
.firstContainer{
	background-color: white;
}
#resultsContainerThree{
	background-color: white;
	margin: 0;
}
#resultsContainerTwo{
	background-color: #E8E8E8;
}
.disclaimerContainer{
	display: grid;
	grid-template-columns: 10% 80% 10%;
	font-family: 'Solway', serif;
	font-weight: light;
	background-color: #BEE5BF;
	margin-top: 15%;
	padding-top: 7%;
	padding-bottom: 10%;
	line-height: 2;
}
.disclaimerContainer b{
	color: #CE7DA5;
}
